# organizační záležitosti

- harmonogram dostupný na https://docs.google.com/document/d/1eIfLeviD2DEMwzQgt3In4QKwIp53FZFDIKkpd1QmdGQ/edit?usp=sharing
- absence
  - povolené 3 neomluvené absence
  - možnost přeskakovat témata (podle harmonogramu), ale je třeba písemná/ústní domluva se mnou (těžší zápočtový test?)
- domácí úkoly
  - nepovinné - cvičení, která se nestihnou na hodině
  - povinná - zejména při odpadnutí hodiny
- práce na hodinách
  - v google colabu
  - zejména python, ale co půjde, tak i pomocí bash
- DNES
  - základy pythonu (za dvě lekce?)

#Proměnné (variables) a jejich typy

In [ ]:
# basic types

a = 50 #int
b = "a" #string
c = 69.7 #float
d = True #bool

In [ ]:
# explicitní přetypování

print(type(a))
a = float(a)
print(a)
print(int(c))

In [ ]:
# @title
a = True
b = 77.9

In [ ]:
#TODO: jakého typu je proměnná "a"?
#TODO: změňte typ proměnné "b" na celé číslo (int) a vypište jeho hodnotu

#list

In [ ]:
# list - ordered (index - from 0), changeable, and allow duplicate values.

names = ["Vlasta", "Michal", "Ondra"]

names.append("Honza")

names.extend(["Anna", "Michal", "anna"])

names.count("Michal")

names.remove("anna")

names.index("Michal")

In [ ]:
# ordered:

a = ["Vlasta", "Michal"]
b = ["Michal", "Vlasta"]

print(a == b)

In [ ]:
# changeable - index from 0 !!

a[0] = "Tom"

print(a)

In [ ]:
# allow duplicates

a = ["Vlasta", "Michal", "Michal"]
print(len(a))

In [ ]:
# @title

mess = ["1", 7, "9", "binec", ["a", "b"], 66, "1", "1", "hodně", "Málo", "binec"]

In [ ]:
# TODO: print 3rd item from list "mess". What is its type?

In [ ]:
# TODO: add item "Holedná"

In [ ]:
# TODO: add items from list b to list "mess"
b = ["Brno", "Česká", 65]

In [ ]:
# how many times is there the value that is saved in the first position

# set

In [ ]:
# set - unordered, unchangeable, does NOT allow duplicates

print(names)

In [ ]:
unique_names = set(names)
print(unique_names)

In [ ]:
print(len(unique_names))
unique_names.add("Michal")
print(len(unique_names))
unique_names.add("michal")
print(len(unique_names))
unique_names.remove("Michal")

In [ ]:
cities = ["London", "Berlin", "Prague", "Birmingham", "Linz", "Hamburg", "Prague", "Berlin"]

In [ ]:
# TODO: how many unique values is in the list "cities"? And how many there are altogether (including duplicates)?

# Dictionaries

In [7]:
names = ["Vlasta", "Michal", "Ondra"] # list

# dicitonary - A dictionary is a collection which is ordered* (newly), changeable and do not allow duplicates.
favourite_colour = {"Vlasta": "orange", "Michal": "blue", "Ondra": "yellow"}

In [9]:
# does NOT allow duplicates - in keys, not values

favourite_colour = {"Vlasta": "orange", "Michal": "blue", "Ondra": "yellow", "Vlasta": "blue"}
print(favourite_colour["Vlasta"])
print(favourite_colour["Michal"])

blue
blue

In [ ]:
# adding new item
favourite_colour["Jan"] = "brown"
print(favourite_colour)

In [ ]:
# changing existing item
favourite_colour["Jan"] = "blue"
print(favourite_colour)

In [ ]:
# removing item

favourite_colour.pop("Jan")
print(favourite_colour)

In [ ]:
# item in dict

"Vlasta" in favourite_colour

"yellow" in favourite_colour

In [ ]:
# @title
favourite_colour = {"Vít": "green", "Hana": "dark blue", "Ondra": "pink", "Ota": "gold"}

In [ ]:
# TODO: Favourite colour of my brother Petr is green, add this information to the dictionary "favourite_colour"

In [ ]:
# how many items are there in the "favourite_colour" dictionary?

In [ ]:
# find out if the person (key) "Vít" is in the "favourite_colour" dicitonary

# podmínky (větvění programu)

In [2]:
# výpočet absolutní hodnoty rozdílu

a = 20
b = 60

if a >= b:
  absolute_value = a-b
else:
  absolute_value = b-a


absolute_value_shorter = abs(a-b)

print(absolute_value)
print(absolute_value_shorter)

40
40

In [ ]:
# if-elif-else + f-string
a = 0

if a == 0:
  print(f"číslo {a} je sudé")
elif a % 2 == 0:
  print(f"číslo {a} je sudé")
else:
  print(f"číslo {a} je liché")

In [ ]:
# or + and
a = -8

if a == 0 or a % 2 == 0:
  print(f"číslo {a} je sudé")
else:
  print(f"číslo {a} je liché")

In [1]:
# Ternární operátor

a = 88
b = 9


if a > 9:
  max_number = a
else:
  max_number = b

max_number_shorter = a if a > b else b

max_number_even_better = max(a, b)

print(max_number_shorter)
print(max_number_even_better)

88
88

In [ ]:
# @title
a = -15

In [ ]:
# TODO: v proměnné a je uloženo číslo, zjistěte (pomocí podmínek ;)), zda je číslo kladné anebo záporné anebo 0

In [ ]:
# @title
score = 90

In [ ]:
# TODO: variable "score" holds number of points (0-100). Write if-script that will convert the score into grade by those rules: A (90–100), B (80–89), C (70–79), D (60–69), F (<60)

# cykly - for, while

In [3]:
# while - vypíše čísla 1-9 + add 1

i = 0
while i > 10:
  print(i)
  i += 1
  # i = i + 1

In [ ]:
# for cyklus

names = ["Vlasta", "Michal", "Petr", "Karel", "Magdalena", "Jan"]

for name in names:
  print(name)

In [ ]:
for char in "string":
  print(char)

In [ ]:
names_to_be_deleted = ["Vlasta"]

for name in names:
  if name in names_to_be_deleted:
    names.remove(name)

print(names)

In [ ]:
for name in names:
  if "a" in name:
    print(f"name {name} contains character 'a'")

In [ ]:
for name in names:
  if "a" not in name:
    print(f"name {name} does not contain character 'a'")

In [ ]:
# fce range(starts, stop, krok)

for i in range(0,10):
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
for i in range(0,10, 2):
  print(i)

In [ ]:
# typické využití: vypiš n prvních prvků

for i in range(5):
  print(names[i])

In [ ]:
# @title
names = ["jan", "Petr", "František", "Ota", "Hana", "Šárka", "Vilém", "Jana"]

In [ ]:
# TODO: vypište každý druhý prvek z seznamu "names"
# TODO: je jméno "Jan" v seznamu?
# TODO: vytvořte nový seznam (surnames), který bude obsahovat každé jméno ze seznamu "names" + příjmení Nový (např. Vilém Nový) nebo, pokud jméno končí na "a", tak Nová (např. Jana Nová)

# for cyklus se slovníky

In [ ]:
cities = {"Berlin":
 {
     "persons": 300,
     "country": "Germany"
  },
          "London": {
     "persons": 600,
     "country": "UK"
  },
          "Prague":{
     "persons": 100,
     "country": "Czechia"
  }
}

In [ ]:
cities = {"Berlin": 300, "London": 600, "Prague": 100}

In [ ]:
# for key in dic.keys():

for city in cities.keys():
  print(city)

In [ ]:
# for val in dic.values()

for num_of_people in cities.values():
  print(num_of_people)

In [ ]:
# for key, val in dic.items()

for city, persons in cities.items():
  print(city, persons)

In [ ]:
cities["Hamburg"] = 350

for city, persons in cities.items():
  if persons <= 200:
    print(f"city {city} is rather small")
  elif persons > 200 and persons < 500: #persons < 500
    print(f"city {city} is medium sized")
  else:
    print(f"city {city} is too big")

In [ ]:
# TODO

# cvičení na doma

In [ ]:
# @title
year = 2008

In [5]:
# TODO: Find out if the year in variable "year" is a leap year.
# definice přestupného roku:
# "Mezinárodně používaný občanský kalendář je gregoriánský kalendář, který má přestupný každý čtvrtý rok (rok dělitelný beze zbytku čtyřmi),
# ale roky dělitelné 100 jsou přestupné jenom tehdy, jsou-li dělitelné také 400."

In [ ]:
# @title
years = [15, 85, 998, 785, 1558, 4111, 625, 1254, 1847, 1999, 1997, 1658, 874, 2011, 2001, 2010, 2350]

In [ ]:
# TODO instead of one year, you have a list of them (variable years). Using the previous script, print each leap year from the list years. How many are there?

In [ ]:
# @title
shopping_items = {"apple": 19.6, "banana": 8.4, "orange": 7, "avocado": 38.9, "tomato": 5.7, "potato": 8.7, "pear": 9.7, "grapes": 9, "passion fruit": 29.6, "tangerine": 11.6}
buy_list = ["apple", "orange", "passion fruit", "carrot"]

In [ ]:
# TODO: all available items (fruit and vegetable) in a shop are in dictionary "shopping_items" in the format: shopping_items = {"item": "price"}, e.g shopping_items = {"pear": 1.7}
# all items you want to buy is in buy_list. Count the price for all items you want to buy. Do not forget an item might not be availabel in the shop

In [ ]:
# @title
shopping_items = {"apple": 19.6, "banana": 8.4, "orange": 7, "avocado": 38.9, "tomato": 5.7, "potato": 8.7, "pear": 9.7, "grapes": 9, "passion fruit": 29.6, "tangerine": 11.6}
buy_list = {"apple": 3, "cucumber": 1, "avocado": 5, "pear": 2}

In [ ]:
# TODO: variant on the previous exercise, but buy_list is a dictionary in this format: buy_list = {"apple": 1}, i.e. it says how many items you want to buy. Count the price.